{% extends 'base.html' %} {%block content%}


<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card shadow">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3">We have sent an email to you</h2>
                </div>
                <div class="card-body">

                    <div class="d-grid">
                        <div class="card-text text-center">
                            Please check your mail
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}